:root {
  --bg-clr: #212529;
  --bg-clr-2: #ffffff;
  --txt-clr: #474747;

  --fs-xl:clamp(30px,5vw + 1rem,4rem);
  --fs-head:clamp(12px,.5vw + 1rem,1.5rem);
  --fs-p:clamp(15px,1vw + 15px,15px)
}

* {
  box-sizing: border-box;
  font-family: "Gabarito";
  font-family: inherit;
}
body {
  height: 100%;
}

.loader {
  background: #00000023;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Login and register css */

.role {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.role > * {
  flex: 1 1 40%;
}

.role p {
  text-align: center;
}
.role input[type="image"] {
  border: 4px solid rgba(134, 122, 122, 0.648);
  border-radius: 5px;
}
.role input[type="image"]:hover {
  background-color: rgb(8, 8, 8);
}
.Register-form,
.Login-form {
  min-width: 100px;
}
.login-container {
  background: linear-gradient(254deg, #ffcea2 41%, #f7e9dd 100%);
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member {
  display: flex;
  flex: 0 1 400px;
  background-color: rgba(222, 218, 218, 0.236);
  width: 400px;
  min-height: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.553);
}
.member h1 {
  color: var(--bg-clr);
  margin: 10px 90px 30px;
  font-size: 3rem;
}
.otp {
  background-color: rgba(222, 218, 218, 0.236);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.553);
  padding: 10px;
}
.resend-otp span{
  margin-top: 5px;
  gap:10px
}
.text {
  width: 100%;
  contain: content;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
}
.Login-button {
  width: 50%;
  height: 50px;
  border-radius: 30px;
  background-color: var(--bg-clr);
  color: #fff;
}
.Login-button:hover {
  background-color: rgb(78, 79, 89);
}

/* profile */
.pro-container {
  min-height: 77dvh;
  justify-content: space-around;
  gap: 15px;
  margin-top: 64px;
  position: relative;
  background: linear-gradient(254deg, #ffcea2 41%, #f7e9dd 100%);
  
}
.pro-divide {
  width: 100%;
  padding: 10px;
}
.profile-head {
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  font-family: "";
}
.user-card {
  min-height:100%;
  box-shadow: 1px 1px 3px 1px rgb(92, 92, 92);

  border-radius: 10px;
}
.detail-card {
  box-shadow: 1px 1px 3px 1px rgb(92, 92, 92);

  border-radius: 10px;
}
.bio {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.modal1 {
  position: fixed;
  display: flex;
  justify-content:center ;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #0c0c0fc6;
  z-index: 10;
  
}
.modalcontainer {
  background: linear-gradient(254deg, #ffcea2 41%, #f7e9dd 100%);
  display: flex;
  flex-direction: column;
  width: 50rem;
  min-height: 400px;
  max-height: 100svh;
  border-radius: 20px;
  overflow: auto;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.modal-title button {
  font-size: 2rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: red;
  background: #ffffff;
  border: none;
}
.modal-body {
  padding: 20px;
}

.Edit-btn:hover {
  text-decoration: underline;
}
.edit-text {
  width: 100%;
  contain: content;
  border: 0;
  border-radius: 10px;
  height: 40px;
  box-shadow: 1px 1px 3px 3px #6260607f;
}
.edit-text:focus {
  outline: none;
  box-shadow: 1px 2px 3px 3px rgba(66, 87, 174, 0.7);
}

/*footer css*/
.footer {
  background-color: var(--bg-clr);
  height: 5vh;
  display: flex;
  padding: 20px;
  margin: 0 auto;
}

/* Contact */
.contact-page {
  background: linear-gradient(254deg, #ffcea2 41%, #f7e9dd 100%);
  height: 80vh;
  margin-top: 65px;
  display: flex;
  align-items: center;
}
.Container-contact {
  width: 30em;
  display: flex;
  background: linear-gradient(254deg, #e8e3e3 41%, #fff6f6 100%);

  padding: 20px 10px 30px 10px;
  margin: 0 auto;
  border-radius: 5px;
  flex-direction: column;
}
.Container-contact h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* course */
.course-card {
  width: 20rem;
  /* border: 2px solid rgba(214, 220, 229, 0.867); */
  box-shadow: 1px 1px 6px 1px rgb(94, 94, 93);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-title{
  font-size: var(--fs-head)
}
.course-card > *{
  flex:1
}
.course-card img{
  flex:0
}

.car-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
}
.card-text p{
  font-size: var(--fs-p);
}

.course-price {
  background: #ceced0;
  justify-content: space-between;
  padding: 5px 5px 0 5px;
  margin-top: auto;
  height: 50px;
  align-items: center;
  border-radius: 0 0 5px 5px;
  border-radius: 2px;
  width: 100%;
}
/* CourseList */
.course-container {
  margin-top: 63px;
  min-width: 80vh;
}

.course-heading {
  background: linear-gradient(360deg, #f0e9e9 41%, #ffcea2 100%);
  height: 400px;
  width: 100%;
  font-family: "angkor";
  display: flex;
}
.course-heading > * {
  flex-basis: 100%;
}
.select{
  width: 100%;
  display: flex;
  justify-content: center;
}
.course {
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(to bottom, #fffcf7, #ffcea2);
}

.img1 {
  margin-left: 0;
  margin-top: 10px;
  animation: img 300ms ease-in;
}
.img3 {
  margin-right: 0;
  animation: img2 300ms ease-out;
}
.course-h1 {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: ch1 300ms ease-in;
}
@keyframes img {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes img2 {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ch1 {
  0% {
    margin-top: 300px;
  }
}
/* Create course */
.createContainer {
 padding: 10px 0;
  background: linear-gradient(254deg, #ffcea2 41%, #f7e9dd 100%);
  margin-top: 60px;
}
.create {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(254deg, #edc2c2 50%, #f7e9dd 100%);
  transition: ease-in-out 0.2s;
  border: 1px solid;
  border-radius: 10px;
}
.create:hover {
  box-shadow: 1px 2px 3px 4px;
}
.duration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
 
}
.duration > *{
 flex: 1 0 10em;
}
.create-btn {
  width: 20em;
  margin: 0 auto;

  background-color: #e73659da;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
}
.create-btn:hover {
  background-color: #de7987da;
}

/* course Description */
.course-description {
  /* background:linear-gradient(254deg, #ffcea2 41%, #f7e9dd 100%); */
  min-height: 77vh;
  padding: 10px;
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat((8,1fr));
  gap: 10px;
  font-family: '';
}
.desc-heading{
  grid-area: 1/1/3/9;
  box-shadow: 1px 1px 3px  black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: space-between;
  min-height: 18em;
}
.desc-heading h1{
  font-size:var(--fs-xl)
}
.instructor-img{
  display: flex;
 
  border-radius: 30px;
  padding: 5px;
  align-items: center;
}

.desc-footer{
  display: flex;
  margin-top: auto;
  gap: 5em;

}
.content-description{
  grid-area: 3/1/6/7;
  padding: 10px;
  background-color: rgb(245, 240, 240);
  font-family: sans-serif;
  border-radius: 10px;
  box-shadow: 1px 1px 3px  black;
}
.course-contents{
  grid-area:6/1/7/7 ;
  background-color: rgb(232, 230, 230);
  color:white;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 1px 1px 3px  black;
}
.lectures{
  min-height: 20em;
  overflow-y:auto ;
  color: black;
  font-family: sans-serif;
}
.lecture-content{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #d4d4d4;
  height: 3em;
  border-style: outset;
}



.buy-card{
  grid-area: 2/7/4/8;
padding: 10px;
width: 20rem;
background-color: #e2e2e2;
position: sticky;
top: 70px;
box-shadow: 1px 1px 3px  black;
border-radius: 5px;
font-family: sans-serif;
}
.buy-card h1{
  font-size: var(--fs-head);
  padding: 10px;
}

@media (max-width: 1024px) {
  .course-description {
    grid-template-columns: repeat(4, 1fr);
  }

  .desc-heading {
    grid-column: 1 / -1
  }

  .content-description {
    grid-area: 3/1/6/4;
  }
  .course-contents{
    grid-area: 6/1/6/4 ;
  }

  .buy-card {
    grid-area: 2 / 4 / 4 / 5;
  }
}

@media (max-width: 768px) {
  .course-description {
    grid-template-columns: repeat(3, 1fr);
  }

  .desc-heading {
    grid-area: 1 / 1 / 2 / 4;
  }

  .content-description {
    grid-area: 3/1/6/4;
  }

  .buy-card {
    grid-area: 2 / 2 / 3 / 3;
    position: static; 
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .course-description {
    grid-template-columns: 1fr;
  }

  .desc-heading{
    grid-column: 1/-1;
  }

  .content-description {
    grid-area: 3/1/6/4;
  }

  .buy-card {
    grid-area: 2 / 1 / 3 / 2;
    position: static; 
    margin-top: 20px;
  }
}


.dis-container {
  background-color: white;
  margin-left: -100px;
  border-radius: 10px;
}
.discussion {
  padding: 10px;
}
.discussion input {
  width: 100%;
  display: none;
}
.chat {
  padding: 10px;
  background-color: rgb(177, 177, 177);
  width: 50%;
  border-radius: 10px;
}
.chat-profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
}
.chat-profile img {
  border-radius: 50%;
}
.orders {
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
  min-height: 77.5dvh;
  background-color: #e2eff1;
  padding: 5px;
}
.orders h1 {
  margin: 0 auto;
  width: 190px;
}
.order-details {
  background-color: #55ddc2da;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;
}
.order-details-row {
  width: 100%;
  margin-left: 1px;
  margin-bottom: 5px;
  background-color: #317b8299;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 3px;
}
.no-Orders {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  align-items: center;
}
.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf9f9;
  width: 100%;
  margin-top: 60px;
  padding: 5px;
  min-height: 78dvh;
}
.checkout-details {
  padding: 5px;
  background-color: #baf4e757;
  width: 1000px;
  margin: 0 auto;
}
.checkout-heading {
  background-color: #00ffcc57;
  padding: 5px;
  display: flex;
  gap: 5px;
}
.checkout-heading img {
  margin-top: 5px;
}
.sub {
  padding: 10px;
  min-height: 300px;
}
.sub1 {
  display: flex;
  gap: 30px;
  padding: 5px;
}
.thanks {
  font-size: larger;
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid greenyellow;
  margin-right: 10px;
}
.error {
  width: 100%;
  height: 30px;
}
.error-msg {
  background-color: #f18484b7;
  height: 30px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 450px) {
  .member {
    box-shadow: none;
  }
  .user-card {
    background: none;
    box-shadow: none;
    border: none;
  }
  .course-heading{
    display: none;
  }
}

@media only screen and (max-width:650px){
  .create{
    width: 100%;
  }
}

@media only screen and (max-width: 1017px) {
.img3{
  display: none;
}
.c-image{
  margin: 0 auto;
}
.course-heading{
  flex-direction: column;
  justify-content: center;
}

}